/* For light mode */
:root[data-mantine-color-scheme="light"] body {
  --mantine-color-body: #f4eeec;
  --mantine-color-text: #3d403c;
}

/* For dark mode */
:root[data-mantine-color-scheme="dark"] body {
  --mantine-color-body: #2b2b2b;
  --mantine-color-text: #e0d6d2;
}
